.root-element {
  background: #a7b7d4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-drawer-container{
  border-style: inherit;
  height: -webkit-fill-available;
  border-radius: 20px;
}

.mat-card {
    width: 92%;
    height: 90%;
    border-radius: 20px;
    background-color: #f5f9fc;
    padding: 2px;
}
