<form [formGroup]="taskForm">
    <div style="padding: initial; padding-top: 0px; background-color: #FFFFFF; border-style: inherit;">                            
        <button mat-button style="padding: 10px; padding-bottom: 10px; background: transparent; font-size: 30px; border-right-style: inset;">                                        
            &times;
        </button>
        <button mat-flat-button style="display:inline;" (click)="createNewTaskForm()">Create a new task</button>
        <button mat-flat-button type="submit" (click)="saveAndCreateForm()">Save and create another</button>
        <button mat-flat-button color="accent" type="submit" (click)="saveAndRedirect()">Save</button>
    </div>
    <br><br>
    <input class="inputTask" formControlName="taskName" type="text" placeholder="Enter your task name..."><br>
    <mat-form-field appearance="outline" style="width: 60%;">
        <textarea formControlName="description" class="textArea" rows="5" cols="50" matInput placeholder="Enter description"></textarea>
        <mat-divider></mat-divider>
        <span class="markdownStyle">
            <span>
                Markdown formatting
            </span>
            <span>
                <mat-icon>photo_library</mat-icon>
                <mat-icon>sentiment_satisfied</mat-icon>
                <mat-icon>attach_file</mat-icon>
            </span>
        </span>
    </mat-form-field>
    <h4>Subtasks</h4>
    <ng-container *ngFor="let sub of subtaskArr">
        <input class="checkbox-round" type="checkbox" id="cbox2" value="second_checkbox"><label for="cbox2">{{sub}}</label><br>
    </ng-container>
    <mat-form-field appearance="outline" style="width: 60%; margin: 0;">
    <input matInput [(ngModel)]="getTask" [ngModelOptions]="{standalone: true}" placeholder="Add another subtask">
    </mat-form-field><br>
    <button mat-button (click)="cancelTaskText()">Cancel</button>
    <button mat-button style="color: green;" (click)="getTaskText()">Save task</button>
    <div style="width: 60%;">
        <app-attach-img></app-attach-img>
    </div>
</form>